
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Добавление</title>
</head>
<body>
    <div>
        <h1>Добавление задачи</h1>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p> Название задачи </p></td>
                    <td><input type="text" class="form-control" name="Name" required /> </td>
                </tr>
                <tr>
                    <td><p>Описание задачи </p></td>
                    <td><textarea class="form-control" name="Note" cols="35" rows="6"> </textarea> </td>
                </tr>
                <tr>
                    <td><p>Дата/время выполнения задачи </p></td>
                    <td><input type="datetime-local" class="form-control" name="DateTimeToDo" /> </td>
                </tr>
                <tr>
                    <td align="right"><button type="submit" class="btn btn-success">Применить</button></td>
                    <td><a href="/" class="btn btn-default">Отмена</a></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
