@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Планировщик</title>
</head>
<body>
    <div>
        <h1>Список задач</h1>
        <table>
            <tr>
                <td><h3>Название </h3></td>
                <td><h3>Описание задачи </h3></td>
                <td><h3>Время выполнения </h3></td>
                <td></td>
            </tr>
            @foreach (var g in ViewBag.Goals)
            {
                <tr>
                    <td><p>@g.Name </p></td>
                    <td><p><textarea class="form-control" readonly name="note" cols="40" rows="3">@g.Note </textarea></p></td>
                    <td align="center"><p>@if (g.DateTimeToDo != null) {@g.DateTimeToDo.ToString("dd.MM.yyyy HH:mm")}</p></td>
                    <td><p><a href="/Home/Edit/@g.Id" class="btn btn-default">Редактировать</a></p></td>
                    <td><p><a href="/Home/Remove/@g.Id" class="btn btn-danger">Удалить</a></p></td>
                </tr>
            }
        </table>
        <p><a href="/Home/Add" class="btn btn-success">Добавить задачу</a></p>
    </div>
</body>
</html>